{
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "rules": {
    "semi": [
      1,
      "always"
    ]
  },
  "globals": {
    "__VERSION__": false,
    "__PRODUCTION__": false,
    "localStorage": false,
    "React": false
  }
}
