.card_main {
    box-shadow: 0 2px 5px 0 #C0C0C0;
    z-index: 111;
}

.card_img {
    width: 30%;
    height: 30%;
    margin-left: 30%;
}

.site_details {
    font-size: 12px
}

.spend_details {
    color: #274b6d;
    font-size: 12px
}
